.searchBar-wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ed145b;
  padding: 1.5rem 1rem;
}
.searchBar-icon {
  color: #ed145b;
  margin-right: 2rem;
  margin-left: 1rem;
}

.searchBar-wrap input {
  font-size: 1.5rem;
  outline: none;
  border: none;
  width: 100%;
  color: #ed145b;
}

.searchBar-wrap input::placeholder {
  color: rgba(0, 0, 0, 0.26);
}
