footer {
  height: 500px;
  background: #d2d1d1;
  padding: 30px 120px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr;
  border-top: 3px solid #ed145b;
  h3 {
    padding: 0 0 25px;
  }
  a {
    display: block;
    padding: 2px;
    color: #000;
    font-weight: 450;
  }
  a:hover {
    color: red;
    cursor: pointer;
  }

  span {
    font-weight: 700;
  }
  img {
    margin-top: 10px;
    width: 250px;
  }
}
.bottom-footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
