.row-product-detail-top {
  background: #edebeb;
  content: "";
  clear: both;
  .col {
    width: 1300px;
    display: grid;
    grid-template-columns: 35% 75%;
    grid-gap: 30px;
    margin: 10px auto 20px;
    padding: 10px 20px 20px 10px;
    background: #fff;

    .col-left {
      display: flex;
      gap: 10px;
      .img-left {
        width: 90%;
        img {
          width: 100%;
          border: 0.5px solid #ddd;
          margin-right: 10px;
        }
      }
      .img-right {
        width: 10%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        img {
          width: 100%;
          border: 0.5px dotted #ddd;
        }
      }
    }
    .col-right {
      h3 {
        line-height: 40px;
      }
      .container-wrapper {
        display: grid;
        grid-template-columns: 55% 30%;
        .wrapper-left {
          display: flex;
          flex-direction: column;
          column-gap: 15px;
          .wrapper-item {
            display: flex;
            column-gap: 15px;
            .icon {
              margin-top: 2.5px;
            }
            span {
              color: red;
            }
          }
          .wrapper-money {
            display: flex;
            align-items: center;
            column-gap: 20px;
            .line-through {
              text-decoration: line-through;
            }
          }
          .wrapper-btn {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: 50px;
            padding: 20px 10px 20px 0;
            button {
              font-size: 20px;
              border: 1px solid #ddd;
              background: #fff;
            }
            .btn-item {
              font-size: 30px;
            }
          }
          .wrapper-btn-submit {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 50px;
            padding-right: 10px;
            grid-gap: 10px;
            button {
              border: none;
              font-size: 20px;
              color: #fff;
              cursor: pointer;
            }
            .btn-left {
              background: #1f601f;
            }
            .btn-right {
              background: #ee4d2d;
            }
          }
          form {
            padding: 10px 10px 0 0;
            input {
              padding: 10px 10px;
              width: 80%;
              outline: none;
            }
            button {
              width: 20%;
              padding: 11px 20px;
              background: #fff;
              border: 1px solid #000;
              border-left: none;
              cursor: pointer;
            }
          }
        }
        .wrapper-right {
          margin-right: 10px;
          .wrapper-right-top {
            display: flex;
            justify-content: flex-end;
            column-gap: 10px;
            padding-right: 30px;
            .icon {
              width: 40px;
              height: 40px;
              padding: 10px;
              background: #20e326;
              color: #fff;
            }
            .icon.fb {
              background: #133fa7;
            }
            .icon.pinterest {
              background: #ee4d2d;
            }
            .icon.instagram {
              background: #e38b20;
            }
          }
          .wrapper-right-bottom {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            h4 {
              text-align: center;
              padding-bottom: 20px;
            }
            ul {
              li {
                display: grid;
                grid-template-columns: auto 90%;
                grid-gap: 10px;
                // display: flex;
                // column-gap: 10px;
                line-height: 28px;
                .icon {
                  margin-top: 5px;
                  color: #20e326;
                  width: 18px;
                }
                span {
                  font-size: 14px;
                  font-weight: 750;
                  opacity: 80%;
                }
              }
            }
          }
        }
      }
    }
  }
}
.row-product-detail-bottom {
  background: #edebeb;
  .col {
    width: 1300px;
    display: grid;
    grid-template-columns: auto 25%;
    grid-column-gap: 10px;
    margin: 0 auto 30px;
    .col-left {
      .col-left-header {
        margin-bottom: 20px;
        h3 {
          line-height: 50px;
          background: #fff;
          padding: 0 10px;
          border-bottom: 1px solid #ddd;
        }
        .wrapper {
          background: #fff;
          line-height: 50px;
          border-bottom: 1px solid #ddd;
          padding: 0 10px;
          display: grid;
          grid-template-columns: 0.2fr 1fr;
        }
      }
      h2 {
        text-align: center;
        color: #ee4d2d;
        padding-bottom: 10px;
      }
      .container-product {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px;
        text-align: center;
        background: #fff;
        .product-item {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 5px;
          padding: 0 8px 10px;
        }
        img {
          width: 100%;
          padding: 10px;
          transition: all 0.3s ease;
        }
        img:hover {
          padding: 0;
          cursor: pointer;
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
        }
        .line-through {
          text-decoration: line-through;
          opacity: 80%;
        }
      }
      .btn-wrapper {
        margin-top: 20px;
        button {
          padding: 10px 15px;
          background: #000;
          color: #fff;
          border: none;
          border-radius: 5px 5px 0 0;
          font-size: 18px;
          cursor: pointer;
        }
        button:hover {
          background: red;
        }
      }
      .content {
        background: #fff;
        padding: 0 15px;

        h3 {
          line-height: 40px;
        }
        span {
          display: block;
          line-height: 30px;
          font-size: 17px;
        }
        p {
          font-size: 18px;
          padding-bottom: 15px;
        }
        .img-main {
          display: flex;
          justify-content: center;
          padding-bottom: 15px;
          img {
            width: 100%;
          }
        }
      }
      h4 {
        line-height: 40px;
        margin-top: 20px;
        padding: 0 15px;
        background: #ddd;
      }
      .comment {
        padding: 15px;
        background: #fff;
        span {
          display: block;
        }
        .title {
          padding-top: 8px;
          border-bottom: 1px solid #ddd;
        }
        form {
          display: flex;
          flex-direction: column;
          margin: 10px 0;
          input {
            margin-bottom: 10px;
            padding: 8px 15px;
            outline: none;
            border: 1px solid #ddd;
          }
          textarea {
            resize: none;
            outline: none;
            border: 1px solid #ddd;
            padding: 8px 15px;
          }
        }
        span {
          line-height: 40px;
        }
        .vote {
          display: flex;
          align-items: center;
          column-gap: 10px;
        }
        button {
          margin: 10px 0;
          padding: 10px;
          border: none;
          color: #fff;
          background: #ed145b;
          cursor: pointer;
        }
      }
    }
    .col-right {
      h4 {
        line-height: 40px;
        padding: 0 10px;
        background: #ddd;
      }
      ul {
        padding: 20px 10px;
        background: #fff;
        li {
          line-height: 28px;
          .icon {
            margin-right: 8px;
            font-size: 14px;
          }
          a:hover {
            color: red;
          }
        }
      }
      .wrapper-product {
        background: #fff;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        grid-column-gap: 10px;
        img {
          width: 90%;
          margin: 10px;
          border-radius: 5px;
        }
        .wrapper-content {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 8px;
          margin-right: 20px;
          .line-through {
            text-decoration: line-through;
            color: #000;
            padding-right: 8px;
          }
          span {
            color: red;
          }
        }
      }
    }
  }
}
